ICD.OReflector/bin/Debug/
ICD.OReflector/bin/Release/
ICD.OReflector/obj/Debug/
ICD.OReflector/obj/Release/
ICD.OReflector.Tests/bin/Debug/
ICD.OReflector.Tests/bin/Release/
ICD.OReflector.Tests/obj/Debug/
ICD.OReflector.Tests/obj/Release/
