ICD.OReflector.Tests/bin/Debug/ICD.OReflector.dll
ICD.OReflector.Tests/bin/Debug/ICD.OReflector.dll
ICD.OReflector.Tests/bin/Debug/ICD.OReflector.Tests.pdb
ICD.OReflector.Tests/obj/Debug/ICD.OReflector.Tests.pdb
ICD.OReflector/Implementation/Reflector.cs
ICD.OReflector/obj/Debug/ICD.OReflector.pdb